@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div class="item-product-closeup">
    <img class="picture-product" src="~/resources/images/placeholder.jpg" alt="image">
    <div class="info-product">
        
        <h1>Nazev Zajezdu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu diam, dapibus at convallis vel, fringilla eget est. Pellentesque id tristique mi, at ultricies sapien. Vivamus in ultrices ipsum, eget sagittis dui. Pellentesque vitae justo vitae neque molestie aliquam. Donec in porta purus, a vulputate neque. Nunc tristique vulputate arcu in maximus. Suspendisse pellentesque justo in mollis luctus.</p>
        <p>Rating 5/5</p>
        <input type="button" value="Podrobnosti"></input>
    </div>
</div>
