@{
    ViewData["Title"] = "Home Page";
}

<div class="body_layout">
    <h1 id="destination_hotels_h1">PŘEHLED HOTELŮ</h1>
    <h2 id="destination_hotels_h2">DestinationA</h2>
    <main class="destination_hotels_flex">
        <aside class="destination_hotels_sidenav">
            <div class="dh_sidenav_header">
                <h2>DALŠÍ<br>DESTINACE</h2>
                <hr/>
            </div>
            <ul>
                <li><a>DestinationA</a></li>
                <li><a>DestinationB</a></li>
                <li><a>DestinationC</a></li>
                <li><a>DestinationD</a></li>
                <li><a>DestinationE</a></li>
                <li><a>DestinationF</a></li>
                <li><a>DestinationG</a></li>
                <li><a>DestinationH</a></li>
                <div id="dh_sidenav_content_highlight"></div>
            </ul>
        </aside>
        <section class="destination_hotels_list">
                <div class="item_container">
                    <section class="item_product">
                        <div class="item_column1">
                            <img class="picture-product" src="~/resources/images/placeholder.jpg" alt="image">
                        </div>
                        <div class="item_column2">
                            <h1 class="item_column2_nadpis">Nazev Zajezdu</h1>
                            <p class="item_column2_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu diam, dapibus at convallis
                                vel, fringilla eget est. Pellentesque id tristique mi, at ultricies sapien. Vivamus in
                                ultrices ipsum, eget sagittis dui. Pellentesque vitae justo vitae neque molestie aliquam.
                                Donec in porta purus, a vulputate neque. Nunc tristique vulputate arcu in maximus.
                                Suspendisse pellentesque justo in mollis luctus.
                            </p>
                            <div class="item_column2_flex">
                                <p>Rating 5/5</p>
                                <a asp-action="DetailHotel" asp-controller="Home">
                                    <b>PODROBNOSTI</b>
                                </a>
                            </div>
                        </div>
                        <div class="item_column3">
                            <p>sloupeček 3</p>
                            <button class="logform_action_button" type="submit">REZERVOVAT</button>
                        </div>
                    </section>
                    <section class="item_product">
                        <div class="item_column1">
                            <img class="picture-product" src="~/resources/images/placeholder.jpg" alt="image">
                        </div>
                        <div class="item_column2">
                            <h1 class="item_column2_nadpis">Nazev Zajezdu</h1>
                            <p class="item_column2_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu diam, dapibus at convallis
                                vel, fringilla eget est. Pellentesque id tristique mi, at ultricies sapien. Vivamus in
                                ultrices ipsum, eget sagittis dui. Pellentesque vitae justo vitae neque molestie aliquam.
                                Donec in porta purus, a vulputate neque. Nunc tristique vulputate arcu in maximus.
                                Suspendisse pellentesque justo in mollis luctus.
                            </p>
                            <div class="item_column2_flex">
                                <p>Rating 5/5</p>
                                <a asp-action="DetailHotel" asp-controller="Home">
                                    <b>PODROBNOSTI</b>
                                </a>
                            </div>
            
                        </div>
                        <div class="item_column3">
                            <p>sloupeček 3</p>
                            <button class="logform_action_button" type="submit">REZERVOVAT</button>
                        </div>
                    </section>
                    <section class="item_product">
                        <div class="item_column1">
                            <img class="picture-product" src="~/resources/images/placeholder.jpg" alt="image">
                        </div>
                        <div class="item_column2">
                            <h1 class="item_column2_nadpis">Nazev Zajezdu</h1>
                            <p class="item_column2_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu diam, dapibus at convallis
                                vel, fringilla eget est. Pellentesque id tristique mi, at ultricies sapien. Vivamus in
                                ultrices ipsum, eget sagittis dui. Pellentesque vitae justo vitae neque molestie aliquam.
                                Donec in porta purus, a vulputate neque. Nunc tristique vulputate arcu in maximus.
                                Suspendisse pellentesque justo in mollis luctus.
                            </p>
                            <div class="item_column2_flex">
                                <p>Rating 5/5</p>
                                <a asp-action="DetailHotel" asp-controller="Home">
                                    <b>PODROBNOSTI</b>
                                </a>
                            </div>
                        </div>
                        <div class="item_column3">
                            <p>sloupeček 3</p>
                            <button class="logform_action_button" type="submit">REZERVOVAT</button>
                        </div>
                    </section>
                    <section class="item_product">
                        <div class="item_column1">
                            <img class="picture-product" src="~/resources/images/placeholder.jpg" alt="image">
                        </div>
                        <div class="item_column2">
                            <h1 class="item_column2_nadpis">Nazev Zajezdu</h1>
                            <p class="item_column2_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu diam, dapibus at convallis
                                vel, fringilla eget est. Pellentesque id tristique mi, at ultricies sapien. Vivamus in
                                ultrices ipsum, eget sagittis dui. Pellentesque vitae justo vitae neque molestie aliquam.
                                Donec in porta purus, a vulputate neque. Nunc tristique vulputate arcu in maximus.
                                Suspendisse pellentesque justo in mollis luctus.
                            </p>
                            <div class="item_column2_flex">
                                <p>Rating 5/5</p>
                                <a asp-action="DetailHotel" asp-controller="Home">
                                    <b>PODROBNOSTI</b>
                                </a>
                            </div>
                        </div>
                        <div class="item_column3">
                            <p>sloupeček 3</p>
                            <button class="logform_action_button" type="submit">REZERVOVAT</button>
                        </div>
                    </section>
                </div>

        </section>
    </main>

</div>