@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="body_layout">
        <div class="detail_hotel_container">
            <section class="detail_hotel_information_container">
                <img class="detail_hotel_container_img" src="~/resources/images/placeholder.jpg" alt="hotel_picture">
                <div class="detail_hotel_container_description">
                    <h2>name</h2>
                    <h3>Country, City, Street Street2</h3>
                    <p>Description</p>
                    <p>rating</p>
                </div>
            </section>
            <section class="detail_hotel_rooms_container">
                <div class="detail_hotel_room_container_info">
                    <img class="detail_hotel_room_img" src="~/resources/images/placeholder.jpg" alt="room_picture">
                    <p>Description (dvoulůžkový, třílůžkový, atp)</p>
                    <p>Beds</p>
                    <p>available Y/N</p>
                    <p>Cost_per_night</p>
                    <p>Description</p>
                    <button>REZERVOVAT</button>
                </div>
                <div class="detail_hotel_room_container_info">
                    <img class="detail_hotel_room_img" src="~/resources/images/placeholder.jpg" alt="room_picture">
                    <p>Description (dvoulůžkový, třílůžkový, atp)</p>
                    <p>Beds</p>
                    <p>available Y/N</p>
                    <p>Cost_per_night</p>
                    <button>REZERVOVAT</button>
                </div>
                <div class="detail_hotel_room_container_info">
                    <img class="detail_hotel_room_img" src="~/resources/images/placeholder.jpg" alt="room_picture">
                    <p>Description (dvoulůžkový, třílůžkový, atp)</p>
                    <p>Beds</p>
                    <p>available Y/N</p>
                    <p>Cost_per_night</p>
                    <button>REZERVOVAT</button>
                </div>

            </section>

        </div>
    </div>
</main>