@{
    Layout = "_AdminLayout";
}


<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Desciption</th>
    <th scope="col">Availible</th>
    <th scope="col">Rating</th>
                  
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>jmejno</td>
    <td>praha idk</td>
    <td>Popisek lmao</td>
    <td>Jj</td>
    <td>6/6 xdd</td>

  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary">Add New</button>
<button type="button" class="btn btn-primary">Edit</button>
<button type="button" class="btn btn-danger">Delete</button>
