@{
    Layout = "_AdminLayout";
}


<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>surname</th>
    <th>addresses </th>
    <th>created_at</th>
    <th>UserName</th>
    <th>NormalizedUserName </th>
    <th>Email </th>
    <th>NormalizedEmail </th>
    <th>EmailConfirmed</th>
    <th>PasswordHash</th>
    <th>Comments</th>
    <th>Extra</th>
    <th>Null</th>
    <th>Default</th>
    <th>Comments</th>
    <th>Extra</th>
    <th>Null</th>
    <th>Default</th>
    <th>Comments</th>
    <th>Extra</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Id</td>
    <td>Primary</td>
    <td>int</td>
    <td></td>
    <td>No</td>
    <td>None</td>
    <td>AUTO_INCREMENT</td>
    <td>Change Drop</td>
    <td>Change Drop</td>
  </tr>
  <tr>
    <td>2</td>
    <td>name</td>
    <td>varchar(255)</td>
    <td>utf8mb4_0900_ai_ci</td>
    <td></td>
    <td>No</td>
    <td>None</td>
    <td></td>
    <td>Change Drop</td>
    <td>Change Drop</td>
  </tr>
  <!-- Continue with other rows -->
</table>

<h1>Legit nevim kolik bude potřeba radku v ty tabulce, jestli všechny nebo jestli vůbec nejaky.</h1>

<button type="button" class="btn btn-primary">Add New</button>
<button type="button" class="btn btn-primary">Edit</button>
<button type="button" class="btn btn-danger">Delete</button>