@using CustomIdentity.ViewModels;
@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="form_flex">
    <div class="form">
        <h2 class="form_name">REGISTRACE</h2>
        <form class="form_space" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div class="text-danger" asp-validation-summary="ModelOnly" ></div>
            <div class="form_div">
                <label class="form_label" asp-for="Username" ></label>
                <input class="form_input" asp-for="Username"  />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form_div">
                <label class="form_label" asp-for="Password" ></label>
                <input class="form_input" asp-for="Password"  />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form_div">
                <label class="form_label">
                    <input class="form_checkbox" asp-for="RememberMe"  /> @Html.DisplayNameFor(a=>a.RememberMe)
                </label>
            </div>
            <div class="form_div">
                <div class="form_link">
                    <a class="form_link" asp-action="Register"  asp-route-returnurl="@ViewData["ReturnUrl"]">Nemáš účet? Přihlaš se!</a>
                </div>
                <div class="form_submit">
                    <input class="form_submit" type="submit" value="Přihlásit" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}