@model CustomIdentity.ViewModels.RegisterVM


@{
    ViewData["Title"] = "Register";
}
<div class="body_layout">
<div class="logform_body">
    <div class="container">
        <div class="form-container sign-in-container">
            <form asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <h1>Registrace</h1>
                <input type="text" placeholder="Jméno" asp-for="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input type="text" placeholder="Přijmení" asp-for="Surname"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
                <input type="email" placeholder="Email" asp-for="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="password" placeholder="Heslo" asp-for="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" placeholder="Potvrďte Heslo" asp-for="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <button class="logform_action_button" type="submit">REGISTROVAT</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>UŽ MÁŠ ÚČET?</h1>
                    <p>
                        Pokud už máš účet, klikni na tlačítko a přihlaš se!
                    </p>
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <button class="logform_site_button">

                            <b>PŘIHLÁSIT</b>

                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>  
</div>
<!--
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Register</h2>
        <form asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-decoration-none float-start mt-2">Have account?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Register" class="btn btn-primary btn-sm float-end"/>
                </div>
            </div>
        </form>
    </div>
</div>
-->

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}